/* GoalForm.css */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #3498db;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #34495e;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]:focus,
select:focus {
  border-color: #3498db;
  outline: none;
}

button[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

h3 {
  color: #2c3e50;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fafafa;
  border-radius: 8px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #3498db;
  color: white;
  font-weight: bold;
}

table td {
  background-color: #ffffff;
}

table tr:nth-child(even) td {
  background-color: #f4f6f8;
}

table tr:hover {
  background-color: #f1f1f1;
}

div > p {
  text-align: center;
  font-size: 1.1rem;
  color: #34495e;
  font-weight: bold;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

fieldset > h3 {
  color: #2980b9;
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 500;
}

fieldset > table {
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1.4rem;
  padding: 10px 20px;
  text-align: center;
}

input[type="number"],
select {
  font-size: 1rem;
  padding: 10px;
}
